<div class="container-fluid mt-5">
  <div class="row justify-content-around">
    <div class="col-md-3 col-sm-12 my-4">
      <h3>Your Lists</h3>
      <p class="fw-light">Choose one to edit.</p>
      <ul class="list-group">
        <li
          *ngFor="let list of lists"
          (click)="onSelect(list)"
          [class.active]="list === selectedList"
          class="list-group-item"
        >
          {{ list.shop }}
        </li>
        <li
          class="list-group-item"
          (click)="onSelect(null)"
          [class.active]="!selectedList"
        >
          Add new List
        </li>
      </ul>
    </div>
    <div class="col-md-4 col-sm-12 my-4">
      <div *ngIf="selectedList">
        <h3>{{ selectedList.shop }} Settings</h3>
        <p class="fw-light">List Options.</p>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="shop">Shop name:</label>
            <input
              id="shop"
              formControlName="shop"
              class="form-control"
              placeholder="{{ selectedList.shop }}"
            />
          </div>
          <div class="form-group">
            <label for="exampleColorInput" class="form-label"
              >Color picker</label
            >
            <input
              type="color"
              formControlName="color"
              class="form-control"
              id="exampleColorInput"
            />
          </div>
          <div class="form-group">
            <button class="btn btn-info">Change</button>
          </div>
        </form>
        <hr />
        <button
          data-toggle="modal"
          data-target="#deleteModal"
          class="btn btn-secondary w-100"
        >
          Delete
        </button>
      </div>
      <div *ngIf="!selectedList">
        <h3>Create a new List!</h3>
        <form [formGroup]="newListForm" (ngSubmit)="createNewList()">
          <div class="form-group">
            <label for="shop">Shop name:</label>
            <input
              id="shop"
              formControlName="newShop"
              class="form-control"
              placeholder="New List"
            />
          </div>
          <div class="form-group">
            <label for="exampleColorInput" class="form-label"
              >Color picker</label
            >
            <input
              type="color"
              formControlName="newColor"
              class="form-control"
              value="#000"
              id="exampleColorInput"
              title="Choose your color"
            />
          </div>
          <div class="form-group">
            <button class="btn btn-info">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete List</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">Do you want to delete your list?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          (click)="deleteList(selectedList)"
          class="btn btn-danger"
          data-dismiss="modal"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
