<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <p *ngIf="this.sharedList && this.owner">
        Do you want to add the list
        <strong>{{ this.sharedList.shop }}</strong> of
        <strong>{{ this.owner.name }}</strong> to your account?
      </p>
    </div>
    <div class="col-sm-12">
      <div class="w-50 d-flex justify-content-around">
        <button class="btn btn-info" (click)="addList()">Yes</button>
        <button class="btn btn-warning">No</button>
      </div>
    </div>
  </div>
</div>
