<div class="container2 mt-4 mb-4 col-md-8 offset-md-2">
  <div class="mt-4">
    <div>
      <h3 class="text-center text-info">Registration</h3>
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-6">
            <div class="col-md-12">
              <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label for="email" class="text-info">Email:</label><br />
                  <input
                    type="email"
                    formControlName="email"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                  />
                  <div
                    *ngIf="submitted && f.email.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.email.errors.required">Email is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="name" class="text-info">Name:</label><br />
                  <input
                    type="text"
                    formControlName="name"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                  />
                  <div
                    *ngIf="submitted && f.name.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.name.errors.required">Name is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="password" class="text-info">Password:</label
                  ><br />
                  <input
                    type="password"
                    formControlName="password"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                  />
                  <div
                    *ngIf="submitted && f.password.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.password.errors.required">
                      Password is required
                    </div>
                    <div *ngIf="f.password.errors.minlength">
                      Password is too short
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="password2" class="text-info"
                    >Repeat Password:</label
                  ><br />
                  <input
                    type="password"
                    formControlName="password2"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && f.password2.errors
                    }"
                  />
                  <div
                    *ngIf="submitted && f.password2.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.password2.errors.required">
                      Password is required
                    </div>
                    <div *ngIf="f.password2.errors.mustMatch">
                      Password is not equal
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <button [disabled]="loading" class="btn btn-info">
                    <span
                      *ngIf="loading"
                      class="spinner-border spinner-border-sm mr-1"
                    ></span>
                    Register
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
